body { display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

header { width: 100vw;
    height: fit-content;
}

p { text-align: center;
}

footer { text-align: center;
    padding: 15px;
}

#campos { width: fit-content;
}

#calcular { margin-top: 50px;
}

#resultado { width: 70vw;
    height: auto;
}
